.container {
  max-width: 99999px;
}

.full_img {
  width: 100%;
  height: 100%;
}

.shield {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff00ff00;
}

.smaller {
  width: 180px;
  height: 60px;
}

#map {
  position: absolute;
  margin-top: 60px;
  top: 0;
  left: 0;
  border: 0;
}

.hidden {
  display: none;
}

.red_checkbox {
  background-image: url(checkbox.png);
  background-position: left center;
  background-size: auto 100%;
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
}

.check:checked + .red_checkbox {
  background-position: right center;
}

.lable {
  font-size: 22px;
  color: #ffffff;
  font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}