<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title></title>
	{% endif %}
</head>
<body onresize="resize()" onload="resize()">
	<form id="TheBigForm" class="container" method="POST" action="">
		<nav class="navbar-dark bg-dark fixed-top">
			<div role="main" class="navbar-expand-xl container pb-0 pt-2 m-0">
				<div class="row pl-3 pr-3">
					<div id="shield" class="shield hidden"></div>
					<ul class="navbar-nav d-flex mr-auto pb-2 pr-3">
						<li class="nav-item">
							<a href={{ url_for('main.map') }} onclick="block()"><img height="44px" src="/static/logo.png" url></a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item">
							<button class="nav-item navbar-toggler" type="button" data-toggle="collapse" data-target="#x" aria-expanded="true">
							<span class="navbar-toggler-icon"></span>
							</button>
						</li>
					</ul>
					<div class="navbar-collapse collapse" id="x">
						<div class="row container m-0 p-0">
							<ul class="navbar-nav mr-auto">
								
								<li class="nav-item d-flex mb-2 mr-3">
									<div class="d-flex justify-content-center" style="padding-top: 1px;">
										{{ form.map1(onChange="sub()", class="check form-control form-control-lg hidden", id="map_1") }}
										<label for="map_1" class="red_checkbox mb-0" style="margin-top: -1px;"></label>
									</div>
									{{ form.map1.label(for="map_1", class="form-control-label lable ml-1 mb-0 pr-2 pt-1 d-flex justify-content-center") }}
								</li>
									
								<li class="nav-item d-flex mb-2 mr-3">
									<div class="d-flex justify-content-center" style="padding-top: 1px;">
										{{ form.map2(onChange="sub()", class="check form-control form-control-lg hidden", id="map_2") }}
										<label for="map_2" class="red_checkbox mb-0" style="margin-top: -1px;"></label>
									</div>
									{{ form.map2.label(for="map_2", class="form-control-label lable ml-1 mb-0 pr-2 pt-1 d-flex justify-content-center") }}
								</li>
									
								<li class="nav-item d-flex mb-2 mr-0">
									<div class="d-flex justify-content-center" style="padding-top: 1px;">
										{{ form.map3(onChange="sub()", class="check form-control form-control-lg hidden", id="map_3") }}
										<label for="map_3" class="red_checkbox mb-0" style="margin-top: -1px;"></label>
									</div>
									{{ form.map3.label(for="map_3", class="form-control-label lable ml-1 mb-0 pr-2 pt-1 d-flex justify-content-center") }}
								</li>
								
							</ul>
							<ul class="navbar-nav">
								
								<div style="margin-left: auto">
									<li class="nav-item d-flex mb-2 ml-0" style="margin-left: auto">
										{{ form.map4.label(for="map_4", class="form-control-label lable ml-2 mb-0 pr-1 pt-1 d-flex justify-content-center") }}
										<div class="d-flex justify-content-center float-right" style="padding-top: 1px;">
											{{ form.map4(onChange="sub()", class="check form-control form-control-lg hidden", id="map_4") }}
											<label for="map_4" class="red_checkbox mb-0" style="margin-top: -1px;"></label>
										</div>
									</li>
								</div>
									
								<div style="margin-left: auto">
									<li class="nav-item d-flex mb-2 ml-3">
										{{ form.map5.label(for="map_5", class="form-control-label lable ml-2 mb-0 pr-1 pt-1 d-flex justify-content-center") }}
										<div class="d-flex justify-content-center float-right"  style="padding-top: 1px;">
											{{ form.map5(onChange="sub()", class="check form-control form-control-lg hidden", id="map_5") }}
											<label for="map_5" class="red_checkbox mb-0" style="margin-top: -1px;"></label>
										</div>
									</li>
								</div>
								
								<div style="margin-left: auto">
									<li class="nav-item d-flex mb-2 ml-3" style="margin-left: auto">
										{{ form.map6.label(for="map_6", class="form-control-label lable ml-2 mb-0 pr-1 pt-1 d-flex justify-content-center") }}
										<div class="d-flex justify-content-center float-right" style="padding-top: 1px;">
											{{ form.map6(onChange="sub()", class="check form-control form-control-lg hidden", id="map_6") }}
											<label for="map_6" class="red_checkbox mb-0" style="margin-top: -1px;"></label>
										</div>
									</li>
								</div>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</form>
	<main class="container">
		{% block content %}{% endblock %}
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</main>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
