{% extends "base.html" %}
{% block content %}
<script>
    var timer = new Date().getTime();
    var done = false;
    function resize() {
      document.getElementById("map").width = window.innerWidth;
      document.getElementById("map").height = window.innerHeight-60;
    }
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }
    function sub() {
      document.getElementById("shield").className = "shield smaller";
      timer = new Date().getTime();
      sleep(1010).then(() => {
        if (new Date().getTime() - timer > 1000 && !done) {
          block()
          document.getElementById("TheBigForm").submit();
        }
      })
    }
    function block() {
      if (!done) {
        done = true;
        document.getElementById("shield").className = "shield";
      }
    }
</script>
<iframe id="map" src="/full_map"></iframe>
{% endblock content %}